In [1]:
import pandas as pd
import requests
import json
from config import api_key 
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [9]:
#Load CSV Files with movie data
imdb_file = pd.read_csv("Resource/IMDb_All_Genres_etf_clean1.csv")
imdb_clean = imdb_file.drop(columns = ["Censor", "main_genre", "side_genre", "Runtime(Mins)"])
imdb_clean = imdb_clean.rename(columns = {"Rating": "imdb_score"})
imdb_clean.set_index("Movie_Title")
imdb_clean.dtypes

Movie_Title     object
Year             int64
Director        object
Actors          object
imdb_score     float64
Total_Gross     object
dtype: object

In [3]:
#Load CSV Files with movie data
#metadata_file = pd.read_csv("Resource/movie_metadata.csv")
#metadata_clean = metadata_file.drop(columns = ["color", "num_critic_for_reviews", "duration", "director_facebook_likes", 
                             #"actor_3_facebook_likes", "actor_1_facebook_likes", "genres", "num_voted_users", 
                             #"cast_total_facebook_likes", "facenumber_in_poster", "plot_keywords", "movie_imdb_link", 
                             #"num_user_for_reviews", "language", "country", "content_rating", "aspect_ratio", "movie_facebook_likes",
                                              #"actor_2_facebook_likes"])
#metadata_clean = metadata_clean.rename(columns = {"movie_title": "Movie_Title", "title_year": "Year"})
#metadata_clean = metadata_clean.set_index("Movie_Title")
#metadata_budget = metadata_clean["budget"]
#metadata_budget.head()

In [32]:
#Load CSV Files with movie data
top1000_file = pd.read_csv("Resource/Top_1000_Highest_Grossing_Movies_Of_All_Time.csv")
top1000_file = top1000_file.drop(columns = ["Genre", "Movie Rating", "Duration", "Votes", "Logline"])
top1000_file = top1000_file.rename(columns = {"Movie Title": "Movie_Title", "Year of Realease": "Year"})
top1000_file = top1000_file.set_index("Movie_Title")
top1000_file["Year"] = top1000_file["Year"].replace({"X2016": "2016"})
top1000_file["Metascore"] = top1000_file["Metascore"].replace({"******": ""})
top1000_file["Year"] = pd.to_numeric(top1000_file["Year"])
top1000_file["Metascore"] = pd.to_numeric(top1000_file["Metascore"])
top1000_file.dtypes

Year                    int64
Gross                  object
Worldwide LT Gross     object
Metascore             float64
dtype: object

In [36]:
#Merge Dataframes into one
merge_df = pd.merge(imdb_clean, top1000_file, how = "outer", on = ["Movie_Title", "Year"])
#merge_df = pd.merge(merge_df, metadata_budget, how = "outer", on = "Movie_Title")
merge_df.head()

,Movie_Title,Year,Director,Actors,imdb_score,Total_Gross,Gross,Worldwide LT Gross,Metascore
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,Gross Unkown,NaN,NaN,NaN
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,$534.86M,$534.86M,"$1,006,102,277",84.0
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,$377.85M,$377.85M,"$1,146,436,214",94.0
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,$292.58M,$292.58M,"$836,848,102",74.0
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,$342.55M,$342.55M,"$947,896,241",87.0

In [37]:
merge_df.loc[merge_df["Movie_Title"] == "Avatar"]

,Movie_Title,Year,Director,Actors,imdb_score,Total_Gross,Gross,Worldwide LT Gross,Metascore
143,Avatar,2009,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",7.8,$760.51M,$760.51M,"$2,847,397,339",83.0